@import url('https://fonts.googleapis.com/css?family=Corben:700');
    body {
        background-image: url("background6.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
  } 
  header{
    /*background-color: white;*/
    background-image: url("hearder4.jpg");
   /* background-attachment: fixed;*/
    background-size: cover;
    background-position: center center;
    /*border-width: 5px;*/
    border: double
    border-top: #ff0000 solid 0px;
    border-radius: 0px 0px 10px 10px;

  }
  .input{
    margin-bottom: 10;
  }
		figure{
			border-width: 5px;
		}
    .container{
      text-align: center;
    }
    .col-md-4{
      left: 80px;
    }
    
 #welcome{
    text-align: center;
  font-size: 50px;
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #FF7F50, 7px 7px 0px rgba(0, 0, 0, 0.2);
  height: 100px;
  padding-top: 20px;
    }
    h2{
color: white;
font-size: 2em;
text-shadow: 0 1px 0 #ccc, 0 2px 0 black, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

/*.hit-the-floor {
  text-align: center;
}*/
.hero {
  min-height: 100vh;
  min-height: 3rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  
  &__content {
    position: relative;
    align-self: center;
    padding: 3rem 0;
  }
}

.snow {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snow-top-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 45s infinite linear;
}

@keyframes fall {
  
  100% {
    transform: translateY(0);
  }
  
}


/*  h1 {
   text-align: center;
  font-size: 50px;
  color: white;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #2c2c2c, 7px 7px 0px rgba(0, 0, 0, 0.2);
  height: 50px;
  }*/
