@charset "UTF-8";

body {
	margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

#site h1 {
	margin: 0;
}

/* ヘッダー画像 */
#topimg	{
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

/* キャッチフレーズ */
#catch-phrase	{
	position: absolute;
	bottom: 7%;
	left: 3%;
	margin: 0;
	padding: 15px;
	background-color: rgba(255,255,255,0.7);
	font-size: 28px;
}

/* ヘッダー画像にキャッチコピーを重ねる */
article#top	{
	position: relative;
}

/* 概要 */
.abstract a	{
	display: block;
	background-color: #222222;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}

.abstract a:hover {
	opacity: 0.8;
}

.abstract i	{
	display: block;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 38px;
}

#abstract-box1 .fa-database {
	background-color: #bfbd13;
}

#abstract-box2 .fa-bar-chart-o {
	background-color: #c58839;
}

#abstract-box3 .fa-envelope {
	background-color: #859f46;
}

.abstract h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: normal;
}

.abstract p	{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #524e3c;
	font-size: 12px;
}

/* お知らせ */
#news {
	padding: 20px;
	border: solid 5px #dddddd;
}

#news h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 18px;
	color: #666666;
}

#news ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#news li a {
	display: block;
	padding: 5px;
	border-bottom: dotted 2px #dddddd;
	color: #000000;
	font-size: 14px;
	text-decoration: none;
}

#news li a:hover {
	background-color: #eeeeee;
}

#news time {
	color: #888888;
	font-weight: bold;
	float: left;
	width: 60px;
}

/* SNSメニュー */
#follow ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#follow li a {
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 4px;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
}

#follow li a:hover {
	opacity: 0.8;
}

#follow i {
	margin-right: 10px;
	font-size: 24px;
	vertical-align: middle;
}

#follow-info {
	margin-top: 0;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #dddddd;
	font-size: 14px;
	text-align: center;
	position: relative;
	background: #dddddd;
}

#follow-info:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	position: absolute;
	border-color: rgba(221, 221, 221, 0);
	border-top-color: #dddddd;
	border-width: 15px;
	margin-left: -15px;
}

#follow-tw {
	background-color: #63bafb;
}

#follow-fb {
	background-color: #5288f7;
}

#follow-gp {
	background-color: #f65d4a;
}

/* コピーライト */
#copyright p {
	margin: 0;
	color: #666666;
	font-size: 14px;
}

/* footerをバーの形にする */
footer {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #dddddd;
}

/* ボックスの左右 */
header, footer, article#main, #etc-box {
	padding-left: 15px;
	padding-right: 15px;
}

/* ボックスの上下 */
header {
	padding-top: 20px;
	padding-bottom: 10px;
}

article#main {
	padding-top: 20px;
}

#etc-box {
	padding-top: 20px;
	padding-bottom: 20px;
}

#news-box {
	padding-bottom: 20px;
}

#abstract-box1, #abstract-box2, #abstract-box3 {
	padding-bottom: 10px;
}

/* 以下RWD用設定 */

/* ########### 359px以下 ########### */
@media (max-width: 359px) {

	/* サイト名 */
	#site img {
		width: 225px;
		height: auto;
	}
}

/* ########### 599px以下 ########### */
@media (max-width: 599px) {

	/* ナビゲーション */
	nav li a {
		padding: 10px 7px;
		font-size: 11px;
	}

	/* キャッチコピー */
	#catch-phrase	{
		padding: 5px 10px;
		font-size: 12px;
	}
}

/* ########### 767px以下 ########### */
@media (max-width: 767px) {

	/* トグルボタン */
	#menubtn {
		padding: 6px 12px;
		border: solid 1px #aaaaaa;
		border-radius: 5px;
		background-color: #ffffff;
		position: absolute;
		top: 20px;
		right: 15px;
		cursor: pointer;
	}

	#menubtn:hover {
		background-color: #dddddd;
	}

	#menubtn i {
		color: #888888;
		font-size: 18px;
	}

	/* ナビゲーションメニュー（縦並び） */
	nav	{
		display: none;
	}

	nav ul {margin: 0;
		padding: 0;
		list-style: none;
	}

	nav li a {
		display: block;
		padding: 5px;
		color: #000000;
		font-size: 14px;
		text-decoration: none;
	}

	nav li a:hover {
		background-color: #eeeeee;
	}
}


/* ########### 768px以上 ########### */
@media (min-width: 768px) {

	/* トグルボタン */
	#menubtn {
		display: none;
	}

	/* ナビゲーション */
	nav	{
		display: block !important;
	}

	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	nav li a {
		display: block;
		padding: 10px 15px;
		color: #000000;
		font-size: 14px;
		text-decoration: none;
	}

	nav li a:hover {
		background-color: #eeeeee;
	}

	nav li {
		float: left;
		width: auto;
	}

	header:after {
		content: "";
		display: block;
		clear: both;
	}

	#site-box {
		float: left;
		width: auto;
	}

	#nav-box {
		float: right;
		width: auto;
	}

	#etc-box:after {
		content: "";
		display: block;
		clear: both;
	}

	#news-box {
		float: left;
		width: 70%;
		padding-right: 35px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	aside {
		float: left;
		width: 30%;
	}

	article#main:after	{
		content: "";
		display: block;
		clear: both;
	}

	#abstract-box1	{
		float: left;
		width: 32%;
		margin-right: 2%;
	}

	#abstract-box2	{
		float: left;
		width: 32%;
		margin-right: 2%;
	}

	#abstract-box3 {
		float: left;
		width: 32%;
	}
}

/* ########### 1190px以上 ########### */
@media (min-width: 1190px) {

	/* 全体の横幅を固定 */
	header, #top-box, #etc-box, .copyright, article#main {
		width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}

	/* headerの下に罫線を挿入 */
	header {
		margin-bottom: 20px;
		border-bottom: solid 1px #dddddd;
	}
}