@charset "UTF-8";



body {
	margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

#site h1 {
	margin: 0;
}

/* ヘッダー画像 */
#topimg	{
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


/* footerをバーの形にする */
footer {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #dddddd;
}

/* ボックスの左右 */
header, footer, article#main, #etc-box {
	padding-left: 15px;
	padding-right: 15px;
}

/* ボックスの上下 */
header {
	padding-top: 20px;
	padding-bottom: 10px;
}

article#main {
	padding-top: 20px;
}

#etc-box {
	padding-top: 20px;
	padding-bottom: 20px;
}

#news-box {
	padding-bottom: 20px;
}

#abstract-box1, #abstract-box2, #abstract-box3 {
	padding-bottom: 10px;
}

/* 以下RWD用設定 */



/* ########### 767px以下 ########### */
@media (max-width: 767px) {

	/* トグルボタン */
	#menubtn {
		padding: 6px 12px;
		border: solid 1px #aaaaaa;
		border-radius: 5px;
		background-color: #ffffff;
		position: absolute;
		top: 20px;
		right: 15px;
		cursor: pointer;
	}

	#menubtn:hover {
		background-color: #dddddd;
	}

	#menubtn i {
		color: #888888;
		font-size: 18px;
	}

	/* ナビゲーションメニュー（縦並び） */
	#menu	{
		display: none;
	}

	#menu ul {margin: 0;
		padding: 0;
		list-style: none;
	}

	#menu li a {
		display: block;
		padding: 5px;
		color: #000000;
		font-size: 14px;
		text-decoration: none;
	}

	#menu li a:hover {
		background-color: #eeeeee;
	}
}


/* ########### 768px以上 ########### */
@media (min-width: 768px) {

	/* トグルボタン */
	#menubtn {
		display: none;
	}

	/* ナビゲーション */
	#menu	{
		display: block !important;
	}

	#menu ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	#menu li a {
		display: block;
		padding: 10px 15px;
		color: #000000;
		font-size: 14px;
		text-decoration: none;
	}

	#menu li a:hover {
		background-color: #eeeeee;
	}

	#menu li {
		float: left;
		width: auto;
	}

	header:after {
		content: "";
		display: block;
		clear: both;
	}

	#site-box {
		float: left;
		width: auto;
	}

	#nav-box {
		float: right;
		width: auto;
	}

	#etc-box:after {
		content: "";
		display: block;
		clear: both;
	}

	#news-box {
		float: left;
		width: 70%;
		padding-right: 35px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	aside {
		float: left;
		width: 30%;
	}

	article#main:after	{
		content: "";
		display: block;
		clear: both;
	}

	#abstract-box1	{
		float: left;
		width: 32%;
		margin-right: 2%;
	}

	#abstract-box2	{
		float: left;
		width: 32%;
		margin-right: 2%;
	}

	#abstract-box3 {
		float: left;
		width: 32%;
	}
}

/* ########### 1190px以上 ########### */
@media (min-width: 1190px) {

	/* 全体の横幅を固定 */
	header, #top-box, #etc-box, .copyright, article#main {
		width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}

	/* headerの下に罫線を挿入 */
	header {
		margin-bottom: 20px;
		border-bottom: solid 1px #dddddd;
	}
}
	div.r{
		list-style: none;
		overflow: hidden;
	}



/*記事カード内の詳細設定*/
/*箱の中の文字とかいろいろ決められるよ*/
		.font{
			font-size: 125%;
			float: left;

			font-family: 'Kosugi Maru', sans-serif;
		}

		#endinfo{
			text-align: center;
		}

		p.font2{
			font-family: 'Julius Sans One', sans-serif;
			font-size: 85%;
		}


